<h2>Adicionar novo Heroi</h2>

<div>
    <h3>Nome: <input placeholder="Digite o nome:" [(ngModel)]="NewName" type="text" required="true"></h3>
    <h3>Info: <input placeholder="Digite as informações:" [(ngModel)]="NewInfo" type="text"></h3>
    <h3>Força: <input placeholder="Digite a força:" [(ngModel)]="NewStrengh" type="number" min="1" max="999"></h3>
</div>

@if (IsName == false) {
    <p><strong>Digite um nome...</strong></p>
}

<button (click)="VerName()">Adicionar Heroi?</button>

<a href="home" style="text-align: center;">Voltar?</a>
