.SliderBtn {
    // margin-bottom: 1rem;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 10px;
    display: block;
    width: 2.5em;
    transition: all 0.6s ease-in-out;
}

b {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0s;
}

.SliderBtn:hover{
    width: 25%;
    b {
        opacity: 1;
        transition-delay: 0.32s;
    }
}

span {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #1d242b;
    line-height: 1em;
    position: relative;
    left: -2px;
    top: -7px;
    height: 2.3em;
    min-width: 16px;
    text-align: right;
    margin-right: .7em;
    border-radius: 8px 0 0 8px;
}