h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

div {
    text-align: center;
}

a {
    color: rgb(31, 31, 31);
    padding: 1rem;
    background-color: rgba(185, 185, 185, 0.589);
    border-radius: 20px;
    border: 3px solid #00000017;
    backdrop-filter: blur(3px);
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
}

a:hover {
    background-color: rgba(29, 29, 29, 0.589);
    color: azure;
    box-shadow: 6px 7px 3px #333;
    padding: 1.3rem;
}

input {
    border-radius: 15px;
    border: 1px solid #0000002d;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

button {
    border-radius: 15px;
    border: 1px solid #0000002d;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    width: 11em;
    margin-bottom: 20px;
}

input:hover {
    background-color: #b1b3b2;
}

button:hover {
    background-color: #afafaf;
    padding: 15px;
    width: 15em;
    border-radius: 20px;
}

a:focus, button:focus {
    animation: focusA 1s ease-in-out infinite;
}

@keyframes focusA {
    0%, 100% {
        border: 2px solid rgba(0, 0, 0, 0.61);
    }
    50% {
        border: 10px solid rgba(0, 0, 0, 0.21);
    }
}