h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

div {
    text-align: center;
}

a {
    margin-left: 10px;
    color: rgb(31, 31, 31);
    padding: 1rem;
    background-color: rgba(185, 185, 185, 0.589);
    border-radius: 20px;
    border: 3px solid #00000017;
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s ease;
}

a:hover {
    background-color: rgba(29, 29, 29, 0.589);
    color: azure;
    box-shadow: 6px 7px 3px #333
}